{{!< default}}
<h2 class="hide">Validation Header</h2>
<header class="major container banner">
    <h2><strong>{{@site.description}}</strong></h2>
    <div class="rule"></div>
</header>

<section class="container special">
  <section id="posts" class="wrapper style4">
    {{#author}}
    <header class="featured author">
      {{#if profile_image}}
        <img class="author-profile-image" src="{{profile_image}}" alt="{{name}}" />
      {{/if}}
      <div>
        <h2><a href="{{url}}">{{name}}</a></h2>
        {{#if bio}}
          <p>{{bio}}</p>
        {{/if}}
        <section id="author-meta">
          {{#if location}}
            <div id="author-location"class="icon fa-map-pin">{{location}} <span class="bull">&bull;</span></div>
            {{/if}}
            <div class="author-stats">
                {{plural ../pagination.total empty='No posts' singular='% post' plural='% posts'}} <span class="bull">&bull;</span>
            </div>
            {{#if website}}
            <a href="{{website_url}}" class="icon fa-globe" title="Website"><span class="label">Website</span></a>
            {{/if}}
            {{#if twitter}}
            <a href="{{twitter_url}}" class="icon fa-twitter" title="Twitter"><span class="label">Twitter</span></a>
            {{/if}}
            {{#if facebook}}
            <a href="{{facebook_url}}" class="icon fa-github" title="Github"><span class="label">Github</span></a>
            {{/if}}
            <a href="https://feedly.com/i/subscription/feed/{{url absolute="true"}}rss/" class="icon fa-rss" target="_blank" rel="noopener"><span class="label" title="RSS">RSS</span></a>
        </section>
      </div>
    </header>
    {{/author}}
    {{#foreach posts}}
      <article>
        <header>
          <h2><a href="{{url}}">{{title}}</a></h2>
          <small>{{date format="MMM D, YYYY"}} | {{reading_time}}</small>
        </header>
        <p>{{excerpt words="33"}}</p>
        <p><a href="{{url}}">Continue Reading</a></p>

      </article>
    {{/foreach}}
  </section>
  {{pagination}}
</section>