{{!< default}}
<h2 class="hide">Validation Header</h2>
<header class="major container banner">
    <h2><strong>{{@site.description}}</strong></h2>
    <div class="rule"></div>
</header>

<section class="container special">
  <section id="posts" class="wrapper style4">
    {{#is "home"}}
    {{#get "posts" filter="featured:true" limit="1" as |featured_post|}}
      {{#foreach featured_post}}
        <article class="post featured">
          {{#if feature_image}}
            <a href="{{url}}" class="image main"><img src="{{img_url feature_image}}" alt="{{title}}" /></a>
          {{/if}}
          <div>
            <header>
              <h2><a href="{{url}}">{{title}}</a></h2>
              <small>{{date format="MMM D, YYYY"}} | {{reading_time}}</small>
            </header>
            <p>{{excerpt words="33"}}</p>
            <p><a href="{{url}}">Continue Reading</a></p>
          </div>
        </article>
      {{/foreach}}
    {{/get}}
    {{/is}}
    {{#foreach posts}}
      <article>
        <header>
          <h2><a href="{{url}}">{{title}}</a></h2>
          <small>{{date format="MMM D, YYYY"}} | {{reading_time}}</small>
        </header>
        <p>{{excerpt words="33"}}</p>
        <p><a href="{{url}}">Continue Reading</a></p>

      </article>
    {{/foreach}}
  </section>
  {{pagination}}
</section>